body {
   margin-top: 40px;
   padding-top: 40px;
}

.intro-container{
	background-color: #4388CC;
	padding-top: 20px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #1B3280;
}

.intro-step{
	background-color: white;
	margin-left: 20px;
	width: 210px;
	border-style: solid;
	border-width: 2px;
	border-color: #1B3280;
	text-align: center;
	padding-top: 4px;
}

.span3{
	width: 210px;
}

